:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-family: "Space Grotesk", sans-serif;
  --background-color: rgb(12, 13, 15);
  --background-color-nav: rgba(49, 53, 62, 0.8);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html {
  background: radial-gradient(circle, #111 0%, #000 100%);
  background-attachment: fixed;
  color-scheme: dark;
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  color: white;
  background: none;
}

.name-audience-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.grid {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  background-image: radial-gradient(rgba(38, 40, 46, 0.99) 1.4px, transparent 1px);
  background-size: 35px 35px;
}

h1 {
  font-family: Inter, sans-serif;
  font-size: 8rem;
  font-weight: 600;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.audience-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.audience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: calc(100vw - 65%);
}

.audience-nav button {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-family: Inter, sans-serif;
  font-weight: 500;
  align-items: center;
  background: none;
  color: rgb(116, 116, 116);
  font-size: 1rem;
  border: none;
  gap: 1rem;
  cursor: pointer;
}

.audience-nav button.active {
  color: #ffffff;
}

.site-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.site-header nav button {
  background: none;
  border: none;
  color: #aaa;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.site-header nav button:hover,
.site-header nav button.active {
  color: white;
}

.site-footer {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 0.8rem;
  opacity: 0.6;
}

/* nav */

.navbar-background-wrapper {
  position: fixed;
  left: calc(100vw - 50vw);
  top: 4.5rem;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: min-content;
  border-radius: 5rem;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  background-color: #111111c7;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-item {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  font-weight: 500;
  border-radius: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  transition: all 150ms;
}

.nav-item:hover {
  background-color: rgba(33, 34, 39, 0.815);
  transition: all 150ms;
  cursor: pointer;
}

.pfp-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  flex-wrap: wrap;
  gap: 4rem;
  height: calc(100vh - 60vh);
  padding: 15rem 10rem 10rem 10rem;
}

.pfp {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.pfp:hover {
  transform: scale(1.13);
}

.img-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-png {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(1.13);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.pfp:hover .img-svg {
  opacity: 0;
}

.pfp:hover .img-png {
  opacity: 1;
}

/* icons */

.icons-wrapper-index {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 6rem 2rem 0 2rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 38px;
  background-color: rgb(25, 25, 31);
  border-radius: 0.5rem;
  transition: all 150ms;
}

.icon-container img {
  padding: 0.3rem;
}

.icon-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 150ms;
}

/* projects list page */

.projects-list-page-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 1rem 8rem 1rem;
  gap: 1rem;
}

.project-card {
  width: 340px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem;
  position: relative;
  transition: all 150ms;
}

.arcadia-href {
  width: 340px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.project-card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.project-card-logo-and-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-card-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card-title p {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(210, 216, 224);
}

.project-card-icons {
  display: flex;
  gap: 0.5rem;
}

.project-card:hover {
  background-color: rgba(33, 34, 39, 0.247);
  transition: all 150ms;
  cursor: pointer;
}

/* Projects page */

.project-wrapper-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 12rem;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.project-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  padding: 0 2rem 0 2rem;
}

.project-body-wrapper {
  display: flex;
  justify-content: space-between;
  white-space: wrap;
  flex-wrap: wrap;
  color: white;
  max-width: 95vw;
}

.image-previews h2 {
  color: white;
}

.project-body-wrapper-firefox {
  display: flex;
  justify-content: center;
  white-space: wrap;
  flex-wrap: wrap;
}

.key-features {
  padding: 2rem 2rem 0 2rem;
  color: rgb(232, 241, 255);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 0.9rem;
}

.project-conculsion {
  text-wrap: wrap;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 1rem 0 1rem;
}

.project-paragraph-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.project-body {
  color: white;
  font-size: 0.9rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-wrap: wrap;
  padding: 0 1rem 0 1rem;
}

.image-previews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  overflow: auto;
}

.image-previews img {
  width: 85vw;
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 0.4rem;
}

.project-action-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.visit-button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
  text-decoration: none;
  min-width: fit-content;
  max-width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 150ms;
}

.visit-button:hover {
  background-color: white;
  transition: all 150ms;
  border: 1px solid white;

  .visit-text {
    color: black;
  }

  .feather {
    color: black;
  }
}

.visit-text {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1px;
}

.visit-button .feather {
  width: 16px;
  height: 16px;
  color: white;
}

@media all and (min-width: 480px) and (max-width: 768px) {

  #introText {
    font-size: 1.5rem;
  }

  .pfp-wrapper {
    padding: 15rem 2rem 10rem 2rem;
    height: auto;
    flex-direction: column;
  }

  .audience-nav button {
    font-size: 0.7rem;
  }

  .audience-wrapper {
    width: auto;
    padding-right: 2rem;
  }
}

@media all and (max-width: 480px) {

  #introText {
    font-size: 1rem;
  }

  .pfp-wrapper {
    padding: 12rem 2rem 0 2rem;
    height: auto;
    flex-direction: column;
  }

  .audience-nav button {
    font-size: 0.7rem;
  }

  .audience-wrapper {
    width: auto;
    padding-right: 2rem;
  }

  .audience-nav {
    gap: 0.5rem;
  }
}